<!DOCTYPE html>
<html lang="en">
<head>
    <title>Malaria outbreak prediction</title>
    <link rel="stylesheet" href="../static/CSS/style.css">
</head>
<body>
    <!-- <div class="box"> -->
    <h1>Malaria Outbreak</h1>
    <!-- </div> -->

    <!-- <div class="box"> -->
    <center>
    <form action="/predict" method="post">
        <table>
            <tr>
                <td>
                    <label for="avgHumidity">avgHumidity </label>
                </td>
                <td>:</td>
                <td>
                    <input type="number" id="avgHumidity" name="avgHumidity" placeholder="Enter avgHumidity" min=0 />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Rainfall">Rainfall </label>
                </td>
                <td>:</td>
                <td>
                    <input type="number" id="Rainfall" name="Rainfall" placeholder="Enter Rainfall " min="0" />
                </td>
        </tr>
        <tr>
                <td>
                    <label for="Positive">Positive </label>
                </td>
                <td>:</td>
                <td>
                    <input type="number" id="Positive" name="Positive" placeholder="Enter Positive" min=2000 />
                </td>
        </tr>
         <tr>
                <td>
                    <label for="pf">pf </label>
                </td>
                <td>:</td>
                <td>
                    <input type="number" id="pf" name="pf" placeholder="Enter pf" min=0 />
                </td>
        </tr>
        <tr>
            <td colspan="4">
                <input id="btn" type="submit" value="Predict" >
            </td>
        </tr>
        </table>
        <p>Prediction : {{pred}}</p>
    </form>
    </center>
<!-- </div> -->
</body>
</html>